<% layout("/layouts/boilerplate") %>

<style>
  #filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 1rem;
  }
  .filter {
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.7;
  }
  .filter:hover {
    opacity: 1;
    cursor: pointer;
  }
  .filter p {
    font-size: 0.8rem;
  }
  .tax-info{
    display: none;
  }
  .tax-toggle{
    border: 1px solid black;
    border-radius: 1rem;
    height: 3.2rem;
    padding: 1rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
  }
</style>

<div id="filters">
  <div class="filter">
    <div><i class="fa-brands fa-fort-awesome"></i></div>
    <p>Jaipur</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-bridge"></i></div>
    <p>Kolkata</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-city"></i></div>
    <p>Hyderabad</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-archway"></i></div>
    <p>Mumbai</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-monument"></i></div>
    <p>Delhi</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-mountain-city"></i></div>
    <p>Bengaluru</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-building"></i></div>
    <p>Karnataka</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-book"></i></div>
    <p>Patna</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-mountain-sun"></i></div>
    <p>Mysore</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-book-open-reader"></i></div>
    <p>Kota</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-tree-city"></i></div>
    <p>Pune</p>
  </div>

  <div class="tax-toggle">
    <div class="form-check-reverse form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="flexSwitchCheckDefault"
      />
      <label class="form-check-label" for="flexSwitchCheckDefault"
        >Display along with Food</label
      >
    </div>
  </div>
</div>
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
  <% for(let listing of allListings){ %>
  <a href="/listings/<%= listing._id %>" class="listing-link">
    <div class="card col listing-card">
      <img
        src="<%= listing.image.url%>"
        class="card-img-top"
        alt="listing_image"
        style="height: 20rem"
      />
      <div class="card-img-overlay"></div>
      <div class="card-body">
        <p class="card-text">
          <b><%= listing.title %></b> <br />
          &#8377; <%= listing.price.toLocaleString("en-IN") %>/month
          <i class="tax-info">&nbsp; &nbsp; +apx. 3000</i>
        </p>
      </div>
    </div>
  </a>
  <% } %>
</div>

<script>
  let taxSwitch=document.getElementById("flexSwitchCheckDefault");
  taxSwitch.addEventListener("click",()=>{
    let taxInfo=document.getElementsByClassName("tax-info");
    for(info of taxInfo){
      if(info.style.display!="inline"){
        info.style.display="inline";
      }
      else{
        info.style.display="none";
      }
    }
  })
</script>
